<app-sidenav></app-sidenav>
<div class="main-container">
    <div class="container">
        <h2>{{ isEditMode ? 'Edit' : 'Add' }} Attendance</h2>
        <form class="input-form" [formGroup]="attForm">
            <div class="form-group">
                <label for="exampleInputName1" class="form-label">Name </label>
                <input type="text" class="form-control" formControlName="Name" placeholder="Enter Name">
            </div>
            <div class="form-group">
                <label for="exampleInputPhone1" class="form-label">Phone </label>
                <input type="text" class="form-control" formControlName="Phone" placeholder="Enter Phone Number">
            </div>
            <div class="form-group">
                <label for="exampleInputDate1" class="form-label">Attendance Date </label>
                <input type="date" class="form-control" formControlName="AttendanceDate">
            </div>
            <div class="form-group">
                <label for="exampleInputInTime1" class="form-label">InTime </label>
                <input type="time" class="form-control" formControlName="InTime">
            </div>
            <div class="form-group">
                <label for="exampleInputOutTime1" class="form-label">OutTime </label>
                <input type="time" class="form-control" formControlName="OutTime">
            </div>
            <div class="form-group">
                <label for="exampleInputIsFullDay1" class="form-label">Is Full Day </label>
                <input type="text" class="form-control" formControlName="IsFullDay">
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-clear" (click)="clear()">Clear</button>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-submit" (click)="submit()">{{ isEditMode ? 'Update' :
                    'Submit' }}</button>
            </div>
        </form>
    </div>
    <hr>
</div>

<div class="main-container">
    <h2>Employee Attendance List </h2>
    <div class="input-form">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Employee Name</th>
                    <th>Phone</th>
                    <th>Date</th>
                    <th>In-Time</th>
                    <th>Out-Time</th>
                    <th>Is Full Day</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let a of attList; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ a.Name }}</td>
                    <td>{{ a.Phone }}</td>
                    <td>{{ a.AttendanceDate }}</td>
                    <td>{{ a.InTime }}</td>
                    <td>{{ a.OutTime }}</td>
                    <td>{{ a.IsFullDay? 'Yes':'No' }}</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-edit"
                                (click)="edit(i)">Edit</button>&nbsp;&nbsp;&nbsp;&nbsp;
                            <button type="button" class="btn btn-del" (click)="delete(i)">Delete</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
